<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./vue/vue.js"></script>
    <!-- 
        v-if  v-else v-else-if 必须紧紧靠在一起
     -->
</head>

<body>
    <!-- <div id="root">
        <div v-if='sth' data-test='v-if'>
            {{message}}
        </div>
        <div v-else>
            {{messageA}}
        </div>
    </div> -->

    <div id="root">
            <div v-if='show === "a"'>
                    this is A
            </div>
            <div v-else-if='show === "b"'>
                    this is B
            </div>
            <div v-else>
                    this is Others
            </div>
        </div>


    <script>
        var vm = new Vue({
            el: '#root',
            data: {
                show:'a',
            }
        })
    </script>
</body>

</html>