<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./vue/vue.js"></script>
</head>
<body>
    <div class="root">
        <input type="text" v-model='inputValue'>
        <button @click="handleBtnClick">提交</button>
        <ul>
            <!-- <li  v-for='item in list'>
                {{item}}
            </li> -->
            <todo-item  v-for='item in list'
                        v-bind:content='item'></todo-item>
        </ul>
    </div>


    <script>
        //全局变量
        // Vue.component('TodoItem', {
        //     template:'<li>{{content}}</li>',
        //     props:['content']
        // })

        //局部变量
        var TodoItem = {
            template:'<li>{{content}}</li>',
            props:['content']
        }
    
        var app = new Vue({
            el:'.root',
            data:{
                
                list:['第一个值', '第二个值', '第一个值', '第二个值'],
                inputValue: '初始的值'
            },
            components:{
                TodoItem:TodoItem
            },
            methods:{
                handleBtnClick: function(){
                    this.list.push(this.inputValue);
                    this.inputValue = '';
                }
            }
        })
    
    </script>
</body>
</html>